@using Skateshop.Models
@model Item

@{
    string imagepath = "/img/shop/";
    string altpath = "";
    ;
    if(!string.IsNullOrEmpty(Model.Image))
    {
        imagepath += Model.Image;
        if(Model.ItemType == ItemType.Deck)
        {
            altpath = imagepath + "b.jpg";
        }
        imagepath += ".jpg";
    }
    else
    {
        imagepath += "missingImage.png";
    }
}

<div class="griditem rounded-sm">
    <div class="itemTitle itemText">
        @Model.Manufacturer
        @Model.ItemType
    </div>
    <div>
        <img id="shopItem-@Model.ID" src="@imagepath" class="itemImg" onclick="flipBoard(@Model.ID, '@Model.ItemType', '@imagepath', '@altpath')"/>
    </div>
    <div class="itemPrice itemText">
        @Model.Price EUR
    </div>
    <div class="itemText">
        @Model.Description @Model.Size
    </div>
</div>